<!doctype html>
<html>

<head>
    <title>DGM4MICCAI Workshop @MICCAI {{dgm4miccai.year}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bulma/css/bulma.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="icon" type="image/png" href="/favicon.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon.png" sizes="96x96">
    <script src="https://unpkg.com/feather-icons"></script>
    <style>
        html {
            scroll-behavior: smooth;
        }

        .animation-fade {
            -webkit-animation: fadein 2s;
            -moz-animation: fadein 2s;
            -ms-animation: fadein 2s;
            -o-animation: fadein 2s;
            animation: fadein 2s;
        }

        @keyframes fadein {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @-moz-keyframes fadein {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @-webkit-keyframes fadein {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @-ms-keyframes fadein {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    </style>
</head>

<body>
    <nav class="nav has-shadow">
        <div class="container">
            <input type="checkbox" id="menu-toggle" class="is-hidden" />
            <!--
                        <div class="nav-right nav-menu is-fixed-top">
                            <div class="card-image has-text-centered">
                                <div class="column is-9 is-inline-block">
                                    <img src="images/dgm4miccai2026_logo.png">
                                </div>
                            </div>
                            <div class="card-image has-text-centered">
                                <div class="column is-5 is-inline-block">
                                    <img src="images/TU_Darmstadt.png">
                                </div>
                                <div class="column is-5 is-inline-block">
                                    <img src="images/ITU.png">
                                </div>
                            </div>
                            <div class="card-image has-text-centered">
                                <div class="column is-5 is-inline-block">
                                    <img src="images/UKHD-mini.png">
                                </div>
                                <div class="column is-5 is-inline-block">
                                    <img src="images/CUHK.png">
                                </div>
                            </div>
                            <div class="card-image has-text-centered">
                                <div class="column is-5 is-inline-block">
                                    <img src="images/regensburg_logo.png">
                                </div>
                            </div>
                        
                        </div>-->
        </div>
    </nav>

    <section class="hero is-fullheight animation-fade">
        <div class="hero-head">
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
                <img src="images/dgm4miccai{{dgm4miccai.year}}_logo.png" class="is-128x128 is-4by3">
                <br>
                <br>
                <p class="title">
                    DGM4MICCAI
                </p>
                <p class="subtitle">
                    {{dgm4miccai.edition}}th Deep Generative Models Workshop @ MICCAI {{dgm4miccai.year}}
                </p>
            </div>
        </div>

        <div class="hero-foot">
            <nav class="tabs is-boxed is-fullwidth">
                <div class="container">
                    <ul>
                        <li class="is-active"><a href="#overview">Overview</a>
                        <li><a href="#timeline">Timeline</a>
                        <li><a href="#submission">Submission Details</a>
                        <li><a href="#program">Workshop Program</a>
                        <li><a href="#keynote">Keynote Speakers</a>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <section class="section">
        <a name="overview"></a>
        <h2 class="title">Overview</h2>
        <div class="content">
            {% block overview %}
            {% endblock %}
        </div>
    </section>

    {% if timeline.extendeddeadline|length > 0 %}
    <section class="hero is-primary">
        <div class="hero-body">
            <h2 class="title">
                !!! Deadline extended to {{timeline.extendeddeadline}}, 11:59 PM Pacific Time !!!
            </h2>
        </div>
    </section>
    {% endif %}

    {% if dgm4miccai.announcement %}
    <section class="hero is-primary">
        <a name="announcement"></a>
        <div class="hero-body">
            <h2 class="title">
                {{ dgm4miccai.announcement }}
            </h2>
        </div>
    </section>
    {% endif %}

    <section class="section">
        <a name="submission"></a>
        <div class="content">
            <h3>Submission Details</h3>
            {% block submission %}
            {% endblock %}
        </div>
    </section>


    <section class="section">
        <a name="timeline"></a>
        <h2 class="title">Timeline</h2>
        <div class="content">
            {% block timeline %}
            {% endblock %}
        </div>
    </section>

    <section class="section">
        <a name="program"></a>
        <h2 class="title">Program</h2>
        <div class="content">
            {% block program %}
            {% endblock %}
        </div>
    </section>

    <section class="section">
        <a name="keynote"></a>
        <div class="container">
            <h2 class="title">Keynote{% if keynotes|length > 1 %}s{% endif %}</h2>
            {% block keynote %}
            {% endblock %}
        </div>
    </section>


    <section class="section">
        <a name="oral" , id="oral_sessions"></a>
        <h2 class="title">Oral Sessions</h2>
        <div class="content">
            {% for session in sessions %}
            <a id="{{session.identifier}}"></a>
            <h3 class="title">{{session.title}}</h3>
            <table class="table">
                <thead>
                    <th>Paper ID</th>
                    <th>Title</th>
                </thead>
                <tbody>
                    {% for paper in session.papers %}
                    <tr>
                        <td>{{paper.id}}</td>
                        <td>{{paper.title}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endfor %}
        </div>
    </section>


    <footer class="footer">
        <div class="columns">
            <div class="column">
                <section class="section">
                    <a name="keynote"></a>
                    <h2 class="title">Organizing Committee</h2>
                    <div class="container content">
                        <ul>
                            <li>Anirban Mukhopadhyay, TU Darmstadt, Germany
                            <li>Sandy Engelhardt, Heidelberg University, Germany
                            <li>Ilkay Oksuz, Istanbul Technical University, Turkey
                            <li>Dorit Merhof, Universität Regensburg, Germany
                            <li>Yixuan Yuan, Chinese University of Hong Kong, China
                        </ul>

                        Student organizers:
                        <ul>
                            <li>Lalith Sharan, University Hospital Heidelberg, Germany
                            <li>Henry Krumb, TU Darmstadt, Germany
                            <li>Yannik Frisch, University Hospital Heidelberg, Germany
                            <li>Ssharvien Kumar Sivakumar, TU Darmstadt, Germany
                            <li>Caner Özer, Istanbul Technical University, Turkey
                            <li>Aniek Eijpe, Utrecht University, Netherlands
                    </div>
                </section>
            </div>

            <div class="column">
                <section class="section">
                    <h2 class="title">Award Chairs</h2>
                    <div class="container content">
                        <ul>
                            <li>Camila González, Stanford University, USA
                            <li>Salman Ul Hussain Dar, Heidelberg University Hospital, Germany
                            <li>Moritz Fuchs, Roberst Bosch Krankenhaus, Stuttgart, Germany
                            <li>Amin Ranem, TU Darmstadt, Germany
                            <li>John Kalkhof, INRIA Sophia Antipolis, France
                        </ul>
                    </div>
                    <h2 class="title">Program Committee</h2>
                    <div class="container content">
                        <ul>
                            <li>Li Wang, University of Texas at Arlington, USA
                            <li>Tong Zhang , Peng Cheng Laboratory, Shenzhen, China
                            <li>Ping Lu, Oxford University, UK
                            <li>Roxane Licandro, Medical University of Vienna, Austria
                            <li>Veronika Zimmer, TU Muenchen, Germany
                            <li>Dwarikanath Mahapatra, Inception Institute of AI, UAE
                            <li>Michael Sdika, CREATIS Lyon, France
                            <li>Jelmer Wolterink, Univ. of Twente, The Netherlands
                            <li>Subhamoy Mandal, IIT Kharagpur, India
                            <li>Alejandro Granados, King's College London, UK
                            <li>Jinglei Lv, The University of Sydney, Australia
                            <li>Onat Dalmaz, Bilkent University, Turkey
                            <li>Magda Paschali, Stanford University, USA
                            <li>Qiang Zhang, Oxford University, UK
                            <li>Abdullah-al-Zubaer Imran, University of Kentucky, USA
                        </ul>
                    </div>
                </section>
            </div>
        </div>
        <hr>
        <div class="columns">
            <div class="column">
                <div class="content has-text-centered">
                    <strong>Contact:</strong><br>
                    anirban.mukhopadhyay[at]tu-darmstadt.de
                </div>
            </div>
            <div class="column">
                <div class="content has-text-centered">
                    <a href="https://www.linkedin.com/company/dgm4miccai">
                        <i data-feather="linkedin"></i>
                        <br>
                        Follow us on LinkedIn
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="content has-text-centered">
                    <a rel="me" href="https://sigmoid.social/@dgm4miccai">
                        <!-- <i data-feather="twitter"></i> -->
                        <br>
                        Mastodon</a>
                </div>
            </div>
        </div>
    </footer>

    <script>
        feather.replace()
    </script>
</body>

</html>