<div class="columns is-centered">
    <div class="column">
        <div class="box">
            <div class="columns is-mobile is-centered is-vcentered">
                <div class="column is-3">
                    <figure class="image is-256x256">
                        <!--<img class="is-rounded" src="images/Julia_Wolleb.jpg">-->
                    </figure>
                </div>
                <div class="column is-6">
                    <h3 class="title">{{keynote.name}}</h3>
                    <h4 class="subtitle">{{keynote.group}}</h4>
                    <h4 class="subtitle">{{keynote.affiliation}}</h4>
                </div>
                <div class="column">
                    <!--<a href="https://www.linkedin.com/in/julia-wolleb-5908a71b8"
                        style="margin-left:2em">
                        <i data-feather="linkedin"></i>
                    </a>
                    <a href="https://medicine.yale.edu/profile/julia-wolleb"
                        style="margin-left:2em">
                        <i data-feather="link"></i>
                    </a>-->
                </div>
            </div>
            <div class="columns is-mobile">
                <div class="column is-9">
                    <small>
                        <h4 class="subtitle"><b>TBA</b></h4>
                        TBA

                    </small>
                </div>
            </div>

            <div class="content">
                <div class="wrapped">
                    <h3 class="subtitle"></h3>
                </div>
            </div>
        </div>
    </div>
</div>