<p>
    Deep generative models such as Diffusion Models, Generative Adversarial Networks (GANs)
    and Variational Auto-Encoders (VAEs) are currently receiving widespread attention from not
    only the computer vision and machine learning communities, but also in the MIC and CAI community.
    These models combine the advanced deep neural networks with classical
    density estimation (either explicit or implicit) for achieving state-of-the-art
    results.
    DGM4MICCAI workshop at <a href="https://miccai.org">MICCAI {{dgm4miccai.year}}</a>
    will be all about Deep Generative Models in Medical Image Computing
    and Computer Assisted Interventions.
</p>

<p>
    DGM4MICCAI Workshop Proceedings</a></u> are available via this <a
        href="https://link.springer.com/book/9783032054715">Springer Link.</a>
</p>