<p>
    The online submission for DGM4MICCAI is <b>open until {{timeline.submissiondeadline}}, 11:59 PM
        Pacific Time</b>.
    Contributions must be submitted online through the <a href="https://cmt3.research.microsoft.com/DGM4MICCAI2026">CMT
        submission system</a>.
</p>
<p>
    We seek contributions that include, but are not limited to novel architectures, loss functions, and theoretical
    developments for:
<ul>
    <li>Stable Diffusion Models
    <li>Causal generative models
    <li>Neural Cellular Automata
    <li>GANs and Adversarial Learning
    <li>Variational Auto-Encoder
    <li>Disentanglement
    <li>Flow
    <li>Autoregressive models
    <li>Multi-Modality and Cross-Modality linking
    <li>Novel metrics and uncertainty estimates for performance assessment and
        interpretability of
        generative models
    <li>Generative models under limited, sparse and noisy image inputs
    <li>Supervised and Unsupervised Domain Adaptation, Transfer Learning and Multi-Task
        Learning
    <li>Segmentation, Detection, Synthesis, Reconstruction, Denoising, Supersampling,
        Registration
    <li>Image-to-Image translation for Synthetic Training Data Generation or Augmented
        Reality
    <li>Neural Rendering
</ul>
</p>
<p>
    We particularly welcome papers driven by the theme "MIC meets CAI".
    Interesting novel applications of deep generative models in MIC and CAI beyond these
    topics are
    also welcome.
</p>

<p>
    Workshop proceedings are published as part of Springer Nature's Lecture Notes in
    Computer
    Science (LNCS) series.
    Manuscripts will be reviewed in double-blinded peer-review.

    Please prepare your workshop papers according to the
    <a href="https://conferences.miccai.org/2025/en/PAPER-SUBMISSION-GUIDELINES.html#manuscriptpreparation">
        MICCAI submission guidelines
    </a> (LNCS template, 8 pages maximum).<br>
    Supplementary material: PDF documents or mp4 videos, 10 MB maximum file size.
</p>

<p>
    <strong>Reviewing Responsibility: At least one co-author must volunteer to review for
        DGM4MICCAI
        {{dgm4miccai.year}}. The submission form will request the name and email address of
        the qualified co-author
        nominated for reviewing duties.</strong>
</p>