<style>
    .passed-event {
        text-decoration: line-through;
        color: #888;
    }
</style>


<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Event</th>
                <th>Date</th>
            </tr>
        </thead>
        <tr>
            <td>Paper Submission Deadline</td>
            {% if timeline.extendeddeadline|length > 0 %}
            <td>
                <s>{{timeline.submissiondeadline}}</s>
                <strong class="has-text-danger">extended to <span class="parse-date">{{timeline.extendeddeadline}}</span></strong>
            </td>
            {% else %}
            <td class="parse-date">{{timeline.submissiondeadline}} {{dgm4miccai.year}}</td>
            {% endif %}
        <tr>
            <td>Reviews Due</td>
            <td class="parse-date">{{timeline.reviewsdue}} {{dgm4miccai.year}}</td>
        <tr>
            <td>Final Decision</td>
            <td class="parse-date">{{timeline.finaldecision}} {{dgm4miccai.year}}</td>
        <tr>
            <td>Camera ready papers due</td>
            <td class="parse-date">{{timeline.cameraready}} {{dgm4miccai.year}}</td>
        <tr>
            <td>DGM4MICCAI Workshop</td>
            <td class="parse-date">
                <a href="https://conferences.miccai.org/{{dgm4miccai.year}}/en/SATELLITE-EVENTS.html">{{dgm4miccai.date}}
                    {{dgm4miccai.year}}
                </a>
            </td>
    </table>
</div>


<script>
document.addEventListener("DOMContentLoaded", function() {
    
    //
    // Helper script to cross-out passed events
    //
    // Gets today's date and sets the time to midnight for accurate day-to-day comparison.
    // Then looks for all elements taged with 'parse-date'.
    //

    const today = new Date();
    today.setHours(0, 0, 0, 0);

    const dateCells = document.querySelectorAll(".parse-date");

    dateCells.forEach(cell => {
        
        const eventDate = new Date(cell.textContent.trim());

        if (!isNaN(eventDate) && eventDate < today) {
            cell.closest("tr").classList.add("passed-event");
        }
    });
});
</script>