    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tr>
                <td>Paper Submission Deadline</td>
                <td>19. June 2026</td>
            <tr>
                <td>Review Due</td>
                <td>03. July 2026</td>
            <tr>
                <td>Final Decision</td>
                <td>07. July 2026</td>
            <tr>
                <td>Camera ready papers due</td>
                <td>17. July 2026</td>
            <tr>
                <td>DGM4MICCAI Workshop</td>
                <td><a href="https://miccai.org">TBA</a></td>
        </table>
    </div>
